@model EBudget.Models.CreatePrihodView

@{
    ViewBag.Title = "Uređivanje prihoda";
}

<h2>Uređivanje prihoda</h2>

@using (Html.BeginForm("Edit", "PregledPrihod", FormMethod.Post))
{
    <table>
       @* <tr>
            <td>Kategorija: </td>
            <td>
                @Html.DropDownList("Kategorija", (IEnumerable<SelectListItem>)ViewBag.Kategorija)
            </td>



        </tr>*@
        <tr>
            <td>Iznos: </td>
            <td>
                @Html.TextBoxFor(model => model.Prihod.Iznos)
            </td>
        </tr>
        <tr>
            <td>Datum: </td>
            <td>@Html.EditorFor(model => model.Prihod.DatumVrijeme, new { @type = "date" }) </td>

        </tr>
        <tr>
            <td>
                @Html.HiddenFor(model => model.Prihod.IDPrihodTrosak, new {@value=Model.Prihod.IDPrihodTrosak})
            </td>
        </tr>
    </table>
    <input type="submit" name="submit" id="edit" value="Promijeni" class="button" />
    @Html.ActionLink("Povratak", "Index", new {@class="button"});
}
