@model EBudget.Models.CreatePrihodView

@{

    ViewBag.Title = "Unos prihoda/troškova";
}

<h2>Unos</h2>
@using (Html.BeginForm("Create", "Main", FormMethod.Post))
{
    <table>
        <tbody>
            <tr>
                <td>
                    Odaberi kategoriju
                </td>
                <td>
                    @if (Model != null)
                    {
                        @Html.DropDownListFor(model => model.Trosak.KategorijaID, Model.Kategorije,"---odaberite---", new { @class = "klasa" })
                    }

                </td>
            </tr>
            <tr>
                <td>Trošak
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Trosak.Iznos)
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.Trosak.Iznos)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Trosak.DatumVrijeme)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Trosak.DatumVrijeme, new { @id = "datepicker", @type = "date"})
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.Trosak.DatumVrijeme)
                </td>
            </tr>
        </tbody>
    </table>
    <button type="submit" name="submit" value="notFinished">Unesi troškove i nastavi unos</button>
    <button type="submit"  name="submit" value="finished">Unesi troškove i završi unos</button>
}

@section scripts
{
    <style>
        .klasa {
            font-family:'Segoe UI';
            font-size:1.5em;
        }
    </style>

   @* <script type="text/javascript">
        $(function () {
            $("#datepicker").datepicker();
            $("#datepicker").datepicker("option", "dateFormat", "dd.mm.yy");

        });
                
    </script>*@
}