@{
    ViewBag.Title = "Pocetni ekran";
}


<h2>Osnovna konzola</h2>

<table border="1">
    <thead>
        <tr>
            <th>
                Dobrodošao, @ViewBag.User
                <br />
                @ViewBag.ID
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.ActionLink("Dalje na unos troškova", "CreateTrosak", "Main")
            </td>
            <td>
                @Html.ActionLink("Dalje na unos prihoda", "CreatePrihod", "Main")
            </td>
            <td>
                @Html.ActionLink("Pregled troškova", "Index", "PregledTrosak")

            </td>
            <td>
                @Html.ActionLink("Pregled prihoda", "Index", "PregledPrihod")

            </td>
            <td>
                @Html.ActionLink("Dodavanje kategorije", "Kategorija", "Main")
            </td>
            @*<td>
                @Html.ActionLink("Kategorija", "Index", "PregledPrihod")

            </td>*@
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Promjena podataka", "PromjenaPodataka", "Main")

            </td>
            <td>
                @Html.ActionLink("Ispis", "Print", "Main")

            </td>
        </tr>
    </tbody>
</table>

@*@section scripts {
    <script type="text/javascript">
    window.onload = function () {
        $("#bla").on("click", function () {
            alert('Bravo Alene');
        });
    }
</script>

}
*@

